/* base */
@import './reset.css';
@import './variables.css';
@import './layout.css';

/* 3rd-party */

/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.bg-primary {
    background-color: var (--primary-color);
}

.bg-secondary {
    background-color: var (--secondary-color);
}

/* hero content */
.hero {
    min-height: 100vh;
    text-align: center;
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero .logo{
    height: 40px;
    margin-bottom: 40px;
}

.hero .main-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.hero .main-description {
    margin-bottom: 40px;
    font-size: 25px;
    color: grey;
}
.hero .clock {
    margin-bottom: 40px;
}

.hero .form {
    margin-bottom: 20px;
}


/* main content */

/* footer section */